{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="Viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Affordable and professional web design">
    <meta name="keywords" content="web design, affordable web design, professional web design">
    <meta name="author" content="Supraja">
    <title>CK Fabrics -  Non Woven Fabric Manufacturers in Hyderabad, India.| about</title>
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/style.css' %}">
    <link rel="icon"  href="{% static 'website/img/icon_logo.png' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  </head>
  <body>
    <header>
      <nav class="navbar navbar-inverse navbar-fixed-top" style="min-height:80px;background-image: radial-gradient(circle, #4e86cc 4%, #a1e0e7 86%);border-bottom: #0e635e 3px solid">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="border-color:white">
              <span class="icon-bar" style="background-color:grey"></span>
              <span class="icon-bar" style="background-color:grey"></span>
              <span class="icon-bar" style="background-color:grey"></span>
            </button>
            <img  class="navbar-brand"  src="{% static 'website/img/logo.png' %}" style="height:77px;width:220px;padding:0">
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right" style="background-color: #3a7ba1;border-radius:5px;font-size: 13px;margin-top:40px">
              <li><a href="index.html" style="color:white;font-weight:bold">Home</a></li>
              <li><a href="about.html" style="color:white;font-weight:bold">About Us</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle " data-toggle="dropdown" href="#" style="color:white;font-weight:bold">Products<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="./spunbond.html" style="">PP Spun Bond Non-Woven Fabric</a></li>
                  <li style="margin: 0px 0px 0px 0px; background-color: #e5e5e5; height: 1px; overflow: hidden"></li>
                  <li><a href="./laminated.html" style="">Laminated Non-Woven Fabric</a></li>
                  <li style="margin: 0px 0px 0px 0px; background-color: #e5e5e5; height: 1px; overflow: hidden"></li>
                  <li><a href="./melt_blown.html" style="">Melt Blown Non-Woven Fabric</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:white;font-weight:bold">Applications<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="./medical.html" style="">Medical</a></li>
                  <li style="margin: 0px 0px 0px 0px; background-color: #e5e5e5; height: 1px; overflow: hidden"></li>
                  <li><a href="./filtration.html" style="">Filtration</a></li>
                  <li style="margin: 0px 0px 0px 0px; background-color: #e5e5e5; height: 1px; overflow: hidden"></li>
                  <li><a href="./packaging.html" style="">Packaging</a></li>
                  <li style="margin: 0px 0px 0px 0px; background-color: #e5e5e5; height: 1px; overflow: hidden"></li>
                  <li><a href="./agriculture.html" style="">Agriculture</a></li>
                  <li style="margin: 0px 0px 0px 0px; background-color: #e5e5e5; height: 1px; overflow: hidden"></li>
                  <li><a href="./health.html#" style="">Health &amp; Hygiene</a></li>
                  <li style="margin: 0px 0px 0px 0px; background-color: #e5e5e5; height: 1px; overflow: hidden"></li>
                  <li><a href="./cosmetic.html" style="">Cosmetic Applicators</a></li>
                  <li style="margin: 0px 0px 0px 0px; background-color: #e5e5e5; height: 1px; overflow: hidden"></li>
                  <li><a href="./mattress.html" style="">Mattress Industry</a></li>

                </ul>
              </li>
              <li><a href="contact.html" style="color:white;font-weight:bold">Contact Us</a></li>
            </ul>

          </div>
        </div>
      </nav>

    <section id="main">
      <marquee behavior="alternate" scrollamount="12" >
        <img style="height:250px;width:1000px" src="{% static 'website/img/about1.png' %}" border="3" >
        <img style="height:250px;width:1000px" src="{% static 'website/img/about2.png' %}" border="3">
        <img style="height:250px;width:1100px" src="{% static 'website/img/about3.png' %}" border="3">
        <img style="height:250px;width:1000px" src="{% static 'website/img/about4.png' %}" border="3">
        <img style="height:250px;width:1000px" src="{% static 'website/img/about5.png' %}" border="3">
      </marquee>

        <div class="container2" style="background-color:#4682B4;border-radius:1%;padding:20px">
        <h2 style="padding-bottom:7px;font-weight:bold;color:#FFFF66;border-bottom: white 2.5px solid;text-align:center;border-radius:10%;font-size:30px;font-family: "Trebuchet MS", Helvetica, sans-serif;">ABOUT US</h2>
          <p style="color:white;font-size:15.8px;padding-top:10px"><span style="font-weight:bold;font-size:16.2px;">CK Fabrics Private Limited</span> Leading Manufacturers Suppliers, Exporters of <span style="font-weight:bold;font-size:16.2px;">PP SPUN BOND NON -
          WOVEN FABRIC</span> since <span style="font-weight:bold;font-size:16.2px;">2012</span> and connected with many reputed customers across south India. CK Fabrics
          is a Hyderabad based Non-woven fabric manufacturer, a one stop hub for all the non- woven fabric
          needs of clients in diverse industries such as packaging, medical and surgical, health &amp; hygiene, mattress
          industry and agricultural purposes. Our Product includes of Melt Blown Non-Woven Fabric, Laminated
          Non-Woven Fabric, Functional Non-Woven Fabric Rolls &amp; sheets, and Hydrophilic Non-Woven Fabric.
          Entire production is carried out at our plant and is monitored at all stages by our quality team.</p>
          <br>
          <h3 style="font-size:19px;border-bottom-style:groove;border-bottom-color: white;border-bottom-width: medium;font-weight:bold;padding-bottom:6px;color:#FFFFb3">OUR SPECIFICATIONS &amp; TECHNOLOGY:</h3>
          <img id="table1" src="{% static 'website/img/table1.png' %}" alt="">
          <br>
          <br>
          <h3 style="font-size:19px;border-bottom-style:groove;border-bottom-color: white;border-bottom-width: medium;font-weight:bold;padding-bottom:6px;color:#FFFFb3">WHY CK FABRICS:</h3>
          <p style="color:white;font-size:15.8px;padding-top:10px">CK FABRICS PVT. LTD. (CKPL )is a manufacturer of engineered non-woven fabrics and allied
          products with high-speed production process capabilities , superior technical and support service
          from its <span style="font-weight:bold;font-size:16.2px;">40,000 Square Foot Factory</span> around Hyderabad, Telangana. We have commissioned a state
          of the art imported Spunbond non-woven fabric production line. Our Closed focused on Quality of
          Non-Woven Fabric and Sound relationship with our customers. We believe providing solutions rather
          just Fabric!</p>
          <br>
          <p style="font-size:15.5px;color:white">Following are our strengths which helped us in building of High Trust and Goodwill with our clients:</p>
          <ul style="color:white">
            <li>Word Class Infrastructure</li>
            <li>Far above Quality</li>
            <li>Realistic and no one beat our Price</li>
            <li>Highest quality Raw Materials</li>
            <li>Skilled workforce</li>
            <li>Advance Technologies</li>
            <li>Wide Range Fabric</li>
            <li>Timely Supply</li>
            <li>Easily accessible of Manufacturing center</li>
            <li>Ethical policies</li>
            <li>Good Relationship with our clients</li>
          </ul>
        </div>
    </section>

    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark">

      <!-- Footer Links -->
      <div class="container2  text-md-left mt-5 ">

        <!-- Grid row -->
        <div class="row mt-3">

          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4" style="padding-bottom:10px">

            <!-- Content -->
            <h6 class="text-uppercase font-weight-bold">Company name</h6>
            <hr style="text-align:left;margin-left:0;width:60px;margin-top:0;border-color:#00BFFF">
            <p>
              <i class="fa fa-map-marker mr-3"></i> Survey no. 275 , rangapur village, kothur mandal</p>
              <h5>Ranga Reddy Dist,Telangana – 509228</h5>
            <p>
              <i class="fa fa-envelope mr-3"></i> info@ckfabrics.in</p>
            <p>
              <i class="fa fa-phone mr-3"></i> +91 88970 98822</p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4" style="padding-bottom:10px">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Quick Links</h6>
            <hr style="text-align:left;margin-left:0;width:60px;margin-top:0;border-color:#00BFFF">
            <p><a href="index.html" style="text-decoration:none">Home</a></p>
            <p><a href="about.html" style="text-decoration:none">About Us</a></p>
            <p><a href="./spunbond.html" style="text-decoration:none">Products</a></p>
            <p><a href="Applications.html" style="text-decoration:none">Applications</a></p>
            <p><a href="contact.html" style="text-decoration:none">Contact Us</a></p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4" style="padding-bottom:10px">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Applications</h6>
            <hr style="text-align:left;margin-left:0;width:60px;margin-top:0;border-color:#00BFFF">
            <h5><a href="./medical.html" style="text-decoration:none;font-size:14.9px">Medical</a></h5>
            <h5><a href="./filtration.html" style="text-decoration:none;font-size:14.9px">Filtration</a></h5>
            <h5><a href="./packaging.html" style="text-decoration:none;font-size:14.9px">Packaging</a></h5>
            <h5><a href="./agriculture.html" style="text-decoration:none;font-size:14.9px">Agriculture</a></h5>
            <h5><a href="./health.html" style="text-decoration:none;font-size:14.9px">Health &amp; Hygiene</a></h5>
            <h5><a href="./cosmetic.html" style="text-decoration:none;font-size:14.9px">Cosmetic Applicators</a></h5>
            <h5><a href="./mattress.html" style="text-decoration:none;font-size:14.9px">Mattress Industry</a></h5>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" style="padding-bottom:10px">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Products</h6>
            <hr style="text-align:left;margin-left:0;width:60px;margin-top:0;border-color:#00BFFF">
            <p><a href="./spunbond.html" style="text-decoration:none">PP Spun Bond Non-Woven Fabric</a></p>
            <p><a href="./laminated.html" style="text-decoration:none">Laminated Non-Woven Fabric</a></p>
            <p><a href="./melt_blown.html" style="text-decoration:none">Melt Blown Non-Woven Fabric</a></p>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="container-fluid footer" style="background-color: #181818; font-size:12px; padding:10px; text-align:center">
      	© 2017 CK Fabrics Pvt Ltd | All logos and trademarks in this site are property of their respective owner.
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->
  </body>
</html>


<!-- Viewport sets the width of the template -->
