{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="Viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Affordable and professional web design">
    <meta name="keywords" content="web design, affordable web design, professional web design">
    <meta name="author" content="Supraja">
    <title>CK Fabrics -  Non Woven Fabric Manufacturers in Hyderabad, India.</title>
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/style.css' %}">
    <link rel="icon"  href="{% static 'website/img/icon_logo.png' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" style="min-height:80px;background-image: radial-gradient(circle, #4e86cc 4%, #a1e0e7 86%);border-bottom: #0e635e 3px solid">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="border-color:white">
            <span class="icon-bar" style="background-color:grey"></span>
            <span class="icon-bar" style="background-color:grey"></span>
            <span class="icon-bar" style="background-color:grey"></span>
          </button>
          <img  class="navbar-brand"  src="{% static 'website/img/logo.png' %}" style="height:77px;width:220px;padding:0">
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right" style="background-color: #3a7ba1;border-radius:5px;font-size: 13px;margin-top:40px">
            <li><a href="index.html" style="color:white;font-weight:bold">Home</a></li>
            <li><a href="about.html" style="color:white;font-weight:bold">About Us</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle " data-toggle="dropdown" href="#" style="color:white;font-weight:bold">Products<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="./spunbond.html" style="">PP Spun Bond Non-Woven Fabric</a></li>
                <li style="margin: 0px 0px 0px 0px; background-color: #e5e5e5; height: 1px; overflow: hidden"></li>
                <li><a href="./laminated.html" style="">Laminated Non-Woven Fabric</a></li>
                <li style="margin: 0px 0px 0px 0px; background-color: #e5e5e5; height: 1px; overflow: hidden"></li>
                <li><a href="./melt_blown.html" style="">Melt Blown Non-Woven Fabric</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:white;font-weight:bold">Applications<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="./medical.html" style="">Medical</a></li>
                <li style="margin: 0px 0px 0px 0px; background-color: #e5e5e5; height: 1px; overflow: hidden"></li>
                <li><a href="./filtration.html" style="">Filtration</a></li>
                <li style="margin: 0px 0px 0px 0px; background-color: #e5e5e5; height: 1px; overflow: hidden"></li>
                <li><a href="./packaging.html" style="">Packaging</a></li>
                <li style="margin: 0px 0px 0px 0px; background-color: #e5e5e5; height: 1px; overflow: hidden"></li>
                <li><a href="./agriculture.html" style="">Agriculture</a></li>
                <li style="margin: 0px 0px 0px 0px; background-color: #e5e5e5; height: 1px; overflow: hidden"></li>
                <li><a href="./health.html#" style="">Health &amp; Hygiene</a></li>
                <li style="margin: 0px 0px 0px 0px; background-color: #e5e5e5; height: 1px; overflow: hidden"></li>
                <li><a href="./cosmetic.html" style="">Cosmetic Applicators</a></li>
                <li style="margin: 0px 0px 0px 0px; background-color: #e5e5e5; height: 1px; overflow: hidden"></li>
                <li><a href="./mattress.html" style="">Mattress Industry</a></li>

              </ul>
            </li>
            <li><a href="contact.html" style="color:white;font-weight:bold">Contact Us</a></li>
          </ul>

        </div>
      </div>
    </nav>


    <section id="main2">
      <marquee behavior="alternate"  scrollamount="12">
        <img src="{% static 'website/img/application1.png' %}" border="3" >
        <img src="{% static 'website/img/application2.png' %}" border="3" >
        <img src="{% static 'website/img/application3.png' %}" border="3" >
        <img src="{% static 'website/img/application4.png' %}" border="3" >
        <img src="{% static 'website/img/application5.png' %}" border="3" >
        <img src="{% static 'website/img/application6.png' %}" border="3" >
      </marquee>
      <div class="container3" style="background-color:#4682B4">
            <div class="container2">
              <h3 style="font-weight:bold;font-size:20px;color:#FFFF66;border-bottom-style:double;border-bottom-color: white;border-bottom-width: medium;text-align:center">Health Care Applications</h3>
              <img id="medical6" src="{% static 'website/img/medical6.png' %}">
              <ul style="color:white;font-size:16px">
                <li>Face Masks & bouffant caps</li>
                <li>Best alternative to cotton fabric</li>
                <li>Soft on skin</li>
                <li>Disposable</li>
                <li>Can be sanitized</li>
                <li>Air Permeable</li>
                <li>Easy to thread &amp ultrosonic stitch</li>
                <li>Used for effective infection control in hospitals & operation theaters</li>
              </ul>
        </div>
      </div>
      <div class="container3" style="background-color:#4682B4">
            <div class="container2">
              <h3 style="font-weight:bold;font-size:20px;color:#FFFF66;border-bottom-style:double;border-bottom-color: white;border-bottom-width: medium;text-align:center">Hygiene Care Applications</h3>
              <img id="healthcare1" src="{% static 'website/img/healthcare1.png' %}">
              <img id="healthcare6" src="{% static 'website/img/healthcare6.png' %}">
              <ul style="color:white;font-size:16px">
                <li> Adult and baby diapers</li>
                <li>Sanitary napkins</li>
                <li>Light weight and soft</li>
                <li>Hydrophilic and hydrophobic</li>
                <li>Free from chemical agents</li>
                <li>Dermatologically neutral</li>
                <li>Good coverage</li>
                <li>Its water repellence and air permeability prevents Anti-bacterial and anti-fungal infections.</li>
              </ul>
        </div>
      </div>
      <div class="container3" style="background-color:#4682B4">
            <div class="container2">
              <h3 style="font-weight:bold;font-size:20px;color:#FFFF66;border-bottom-style:double;border-bottom-color: white;border-bottom-width: medium;text-align:center">Cosmetic  Applicators</h3>
              <img id="healthcare2" src="{% static 'website/img/healthcare2.png' %}">
              <img id="healthcare9" src="{% static 'website/img/healthcare9.png' %}">
              <ul style="color:white;font-size:16px">
                <li>Wet-wipes</li>
                <li>Face masks</li>
                <li>removers</li>
                <li>Light weight and soft</li>
                <li>High strength wet and dry</li>
                <li>Free from chemicals agents</li>
                <li>soft on skin and light in weight</li>
                <li>A cost-effective alternate to other disposable materials</li>
              </ul>
        </div>
      </div>
        <div class="container3" style="background-color:#4682B4">
              <div class="container2">
                <h3 style="font-weight:bold;font-size:20px;color:#FFFF66;border-bottom-style:double;border-bottom-color: white;border-bottom-width: medium;text-align:center">Medical & Surgical Industry</h3>
                <img id="medical7" src="{% static 'website/img/medical7.png' %}">
                <ul style="color:white;font-size:16px">
                  <li>Coverall PPE kit</li>
                  <li>Galosh & shoe covers</li>
                  <li>Bed Linen & curtains in Hospitals</li>
                  <li>Surgical drapes, wraps and Gowns</li>
                  <li>non woven under-garments & pants</li>
                  <li>Tray Cover</li>
                  <li>Laundary Bags</li>
                  <li>Disposal Aprons</li>
                </ul>
              </div>
        </div>

        <div class="container3" style="background-color:#4682B4">
              <div class="container2">
              <h3 style="font-weight:bold;font-size:20px;color:#FFFF66;border-bottom-style:double;border-bottom-color: white;border-bottom-width: medium;text-align:center">Filtration &amp Construction</h3>
              <img id="meltblown1" src="{% static 'website/img/meltblown1.png' %}">
              <ul style="color:white;font-size:16px">
                <li>Surgical face masks</li>
                <li>KN95 Masks</li>
                <li>Industrial respirators</li>
                <li>Vacuum cleaner bags</li>
                <li>Automotive cabin filters</li>
                <li>Microbiological filters</li>
                <li>HVAC Pre-filters(Heating, Ventilation and Air Conditioning)</li>
              </ul>
            </div>
        </div>
        <div class="container3" style="background-color:#4682B4">
              <div class="container2">
                <h3 style="font-weight:bold;font-size:20px;color:#FFFF66;border-bottom-style:double;border-bottom-color: white;border-bottom-width: medium;text-align:center">Shopping Bag &amp packaging</h3>
                <img id="packaging2" src="{% static 'website/img/packaging2.png' %}">
                <img id="packaging3" src="{% static 'website/img/packaging3.png' %}">
                <ul style="color:white;font-size:16px">
                  <li>Machine Stich D-Cut Bag & U-Cut Bag</li>
                  <li>Manual Stich Shopping bag</li>
                  <li>Rice Bag & Seed Bag</li>
                  <li>Tea & Coffee Bag</li>
                  <li>Vaccum Cleaner Bag</li>
                  <li>Luggage Cover Bag</li>
                  <li>Easy to Reusable and Recyclable</li>
                  <li>Premium look</li>
                  <li>Excellent replacement to cotton</li>
                  <li>Packing of Automative Industry</li>
                </ul>
              </div>
          </div>
        <div class="container3" style="background-color:#4682B4" >
              <div class="container2">
                <h3 style="font-weight:bold;font-size:20px;color:#FFFF66;border-bottom-style:double;border-bottom-color: white;border-bottom-width: medium;text-align:center">Agricultural Crop Covers</h3>
                <img id="agriculture1" src="{% static 'website/img/agriculture1.png' %}">
                <img id="agriculture2" src="{% static 'website/img/agriculture2.png' %}">
                <ul style="color:white;font-size:16px">
                  <li>Crop Cover </li>
                  <li>Fruit Cover</li>
                  <li>Banana Cover</li>
                  <li>Garden Cover </li>
                  <li>Protect from direct sun light effect</li>
                  <li>Enables earlier seeding hence larger yields</li>
                  <li>Environment friendly product as it reduce pesticide use.</li>
                </ul>
          </div>
        </div>

        <div class="container3" style="background-color:#4682B4">
              <div class="container2">
                <h3 style="font-weight:bold;font-size:20px;color:#FFFF66;border-bottom-style:double;;border-bottom-color: white;border-bottom-width: medium;text-align:center">Mattresses Industry</h3>
                <img id="mattress2" src="{% static 'website/img/mattress2.png' %}">
                <img id="mattress5" src="{% static 'website/img/mattress5.png' %}">
                <ul style="color:white;font-size:16px">
                  <li>Furniture bonding</li>
                  <li>Pillow and mattress ticking</li>
                  <li>Tablesheets / bedsheets</li>
                  <li>Curtains and Carpets</li>
                  <li>Spring Matters</li>
                  <li>Hydrophillic & hydrophobic</li>
                  <li>Strong wear & tear resistance</li>
                  <li>Light weight uniform</li>
                </ul>
          </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark">

      <!-- Footer Links -->
      <div class="container2  text-md-left mt-5 ">

        <!-- Grid row -->
        <div class="row mt-3">

          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4" style="padding-bottom:10px">

            <!-- Content -->
            <h6 class="text-uppercase font-weight-bold">Company name</h6>
            <hr style="text-align:left;margin-left:0;width:60px;margin-top:0;border-color:#00BFFF">
            <p>
              <i class="fa fa-map-marker mr-3"></i> Survey no. 275 , rangapur village, kothur mandal</p>
              <h5>Ranga Reddy Dist,Telangana – 509228</h5>
            <p>
              <i class="fa fa-envelope mr-3"></i> info@ckfabrics.in</p>
            <p>
              <i class="fa fa-phone mr-3"></i> +91 88970 98822</p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4" style="padding-bottom:10px">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Quick Links</h6>
            <hr style="text-align:left;margin-left:0;width:60px;margin-top:0;border-color:#00BFFF">
            <p><a href="index.html" style="text-decoration:none">Home</a></p>
            <p><a href="about.html" style="text-decoration:none">About Us</a></p>
            <p><a href="./spunbond.html" style="text-decoration:none">Products</a></p>
            <p><a href="Applications.html" style="text-decoration:none">Applications</a></p>
            <p><a href="contact.html" style="text-decoration:none">Contact Us</a></p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4" style="padding-bottom:10px">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Applications</h6>
            <hr style="text-align:left;margin-left:0;width:60px;margin-top:0;border-color:#00BFFF">
            <h5><a href="./medical.html" style="text-decoration:none;font-size:14.9px">Medical</a></h5>
            <h5><a href="./filtration.html" style="text-decoration:none;font-size:14.9px">Filtration</a></h5>
            <h5><a href="./packaging.html" style="text-decoration:none;font-size:14.9px">Packaging</a></h5>
            <h5><a href="./agriculture.html" style="text-decoration:none;font-size:14.9px">Agriculture</a></h5>
            <h5><a href="./health.html" style="text-decoration:none;font-size:14.9px">Health &amp; Hygiene</a></h5>
            <h5><a href="./cosmetic.html" style="text-decoration:none;font-size:14.9px">Cosmetic Applicators</a></h5>
            <h5><a href="./mattress.html" style="text-decoration:none;font-size:14.9px">Mattress Industry</a></h5>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" style="padding-bottom:10px">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Products</h6>
            <hr style="text-align:left;margin-left:0;width:60px;margin-top:0;border-color:#00BFFF">
            <p><a href="./spunbond.html" style="text-decoration:none">PP Spun Bond Non-Woven Fabric</a></p>
            <p><a href="./laminated.html" style="text-decoration:none">Laminated Non-Woven Fabric</a></p>
            <p><a href="./melt_blown.html" style="text-decoration:none">Melt Blown Non-Woven Fabric</a></p>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="container-fluid footer" style="background-color: #181818; font-size:12px; padding:10px; text-align:center">
      	© 2017 CK Fabrics Pvt Ltd | All logos and trademarks in this site are property of their respective owner.
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->
  </body>
</html>


<!-- Viewport sets the width of the template -->
