{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="Viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Affordable and professional web design">
    <meta name="keywords" content="web design, affordable web design, professional web design">
    <meta name="author" content="Supraja">
    <title>CK Fabrics -  Non Woven Fabric Manufacturers in Hyderabad, India.</title>
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/style.css' %}">
    <link rel="icon"  href="{% static 'website/img/icon_logo.png' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>
      <nav class="navbar navbar-inverse navbar-fixed-top" style="min-height:80px;background-image: radial-gradient(circle, #4e86cc 4%, #a1e0e7 86%);border-bottom: #0e635e 3px solid">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="border-color:white">
              <span class="icon-bar" style="background-color:grey"></span>
              <span class="icon-bar" style="background-color:grey"></span>
              <span class="icon-bar" style="background-color:grey"></span>
            </button>
            <img  class="navbar-brand"  src="{% static 'website/img/logo.png' %}" style="height:77px;width:220px;padding:0">
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right" style="background-color: #3a7ba1;border-radius:5px;font-size: 13px;margin-top:40px">
              <li><a href="index.html" style="color:white;font-weight:bold">Home</a></li>
              <li><a href="about.html" style="color:white;font-weight:bold">About Us</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle " data-toggle="dropdown" href="#" style="color:white;font-weight:bold">Products<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="./spunbond.html" style="">PP Spun Bond Non-Woven Fabric</a></li>
                  <li style="margin: 0px 0px 0px 0px; background-color: #e5e5e5; height: 1px; overflow: hidden"></li>
                  <li><a href="./laminated.html" style="">Laminated Non-Woven Fabric</a></li>
                  <li style="margin: 0px 0px 0px 0px; background-color: #e5e5e5; height: 1px; overflow: hidden"></li>
                  <li><a href="./melt_blown.html" style="">Melt Blown Non-Woven Fabric</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:white;font-weight:bold">Applications<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="./medical.html" style="">Medical</a></li>
                  <li style="margin: 0px 0px 0px 0px; background-color: #e5e5e5; height: 1px; overflow: hidden"></li>
                  <li><a href="./filtration.html" style="">Filtration</a></li>
                  <li style="margin: 0px 0px 0px 0px; background-color: #e5e5e5; height: 1px; overflow: hidden"></li>
                  <li><a href="./packaging.html" style="">Packaging</a></li>
                  <li style="margin: 0px 0px 0px 0px; background-color: #e5e5e5; height: 1px; overflow: hidden"></li>
                  <li><a href="./agriculture.html" style="">Agriculture</a></li>
                  <li style="margin: 0px 0px 0px 0px; background-color: #e5e5e5; height: 1px; overflow: hidden"></li>
                  <li><a href="./health.html#" style="">Health &amp; Hygiene</a></li>
                  <li style="margin: 0px 0px 0px 0px; background-color: #e5e5e5; height: 1px; overflow: hidden"></li>
                  <li><a href="./cosmetic.html" style="">Cosmetic Applicators</a></li>
                  <li style="margin: 0px 0px 0px 0px; background-color: #e5e5e5; height: 1px; overflow: hidden"></li>
                  <li><a href="./mattress.html" style="">Mattress Industry</a></li>
                </ul>
              </li>
              <li><a href="contact.html" style="color:white;font-weight:bold">Contact Us</a></li>
            </ul>

          </div>
        </div>
      </nav>

    <header>
    <section id="showcase">
        <marquee  behavior="alternate" scrollamount="8">
          <img style=" height: 350px;background-size: cover;background-position: center;" src=" {% static 'website/img/non-woven10.png' %}" border="3">
          <img style=" height: 350px;background-size: cover;background-position: center;" src=" {% static 'website/img/home2.png' %}" border="3">
          <img style=" height: 350px;background-size: cover;background-position: center;" src=" {% static 'website/img/non-woven4.png' %}" border="3">
          <img style=" height: 350px;background-size: cover;background-position: center;" src=" {% static 'website/img/home1.png' %}" border="3">
          <img style=" height: 350px;background-size: cover;background-position: center;" src=" {% static 'website/img/non-woven13.png' %}" border="3">
        </marquee>
    </section>
    </header>
    <section id="boxes">
      <div class="container2" style="background-color:#4682B4;border-radius:1%;padding:10px">
          <h2 style="font-weight:bold;color:#FFFF66;border-bottom: white 2.5px solid;text-align:center;border-radius:10%;font-size:25px;font-family: "Trebuchet MS", Helvetica, sans-serif;">Welcome To CK Fabrics Private Limited !</h2>
            <div class="container2">
              <img id="nonwoven6" src="{% static 'website/img/non-woven6.png' %}">
              <p  style="color:white;font-size:15.8px;padding-top:10px"><span style="font-weight: bold;font-size:16.2px;">CK Fabrics Private Limited</span> Leading manufacturers, Suppliers, Exporters of <span style="font-weight: bold">PP SPUN BOND NON -
              WOVEN FABRIC</span> since <span style="font-weight: bold">2012</span>. CK, a one stop hub for all the non- woven fabric needs of clients in diverse
              industries such as packaging, medical and surgical, health &amp; hygiene, mattress industry and agricultural
              purposes. Our Product includes of Melt Blown Non-Woven Fabric, Laminated Non-Woven Fabric,
              Functional Non-Woven Fabric Rolls &amp; sheets, and Hydrophilic Non-Woven Fabric.</p>
              <h3 style="font-size:19px;border-bottom-style:groove;border-bottom-color: white;border-bottom-width: medium;font-weight:bold;padding-bottom:6px;color:#FFFFb3">OUR OBJECTIVE:</h3>
              <img id="nonwoven4" src="{% static 'website/img/non-woven4.png' %}">
              <p style="color:white;font-size:15.8px;padding-top:10px">We are committed to our mission to supply <span style="font-weight: bold;font-size:16.2px;">Good Quality</span> fabric and proudly partner with our customers to provide value-added, <span style="font-weight: bold;font-size:16.2px;">Customized Products</span>. We are always advancing to improve the way we work, perfect our products and constantly improving the customer’s experience.</p>
              <p style="color:white;font-size:15.8px;padding-top:10px">We strive to walk the extra mile for our clients to ensure that we exceed their expectations in terms of delivery and value.</p>
              <h3 style="font-size:19px;border-bottom-style:groove;border-bottom-color: white;border-bottom-width: medium;font-weight:bold;padding-bottom:6px;color:#FFFFb3">OUR VISION:</h3>
              <p style="color:white;font-size:15.8px;padding-top:10px">To become one among the <span style="font-weight: bold;font-size:16.2px;">Top most reputed</span> and respected Companies by following all ethical values and manufacture <span style="font-weight:bold;font-size:16.2px;">"Environment Friendly Non-Woven Fabric"</span>, contributing to a healthy green environment.</p>
              <p><img id="green1" src="{% static 'website/img/green1.png' %}">
                  <img id="green2" src="{% static 'website/img/green2.png' %}">
                  <img id="green3" src="{% static 'website/img/green3.png' %}">
                </p>
          </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark">

      <!-- Footer Links -->
      <div class="container2  text-md-left mt-5 ">

        <!-- Grid row -->
        <div class="row mt-3">

          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4" style="padding-bottom:10px">

            <!-- Content -->
            <h6 class="text-uppercase font-weight-bold">Company name</h6>
            <hr style="text-align:left;margin-left:0;width:60px;margin-top:0;border-color:#00BFFF">
            <p>
              <i class="fa fa-map-marker mr-3"></i> Survey no. 275 , rangapur village, kothur mandal</p>
              <h5>Ranga Reddy Dist,Telangana – 509228</h5>
            <p>
              <i class="fa fa-envelope mr-3"></i> info@ckfabrics.in</p>
            <p>
              <i class="fa fa-phone mr-3"></i> +91 88970 98822</p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4" style="padding-bottom:10px">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Quick Links</h6>
            <hr style="text-align:left;margin-left:0;width:60px;margin-top:0;border-color:#00BFFF">
            <p><a href="index.html" style="text-decoration:none">Home</a></p>
            <p><a href="about.html" style="text-decoration:none">About Us</a></p>
            <p><a href="./spunbond.html" style="text-decoration:none">Products</a></p>
            <p><a href="Applications.html" style="text-decoration:none">Applications</a></p>
            <p><a href="contact.html" style="text-decoration:none">Contact Us</a></p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4" style="padding-bottom:10px">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Applications</h6>
            <hr style="text-align:left;margin-left:0;width:60px;margin-top:0;border-color:#00BFFF">
            <h5><a href="./medical.html" style="text-decoration:none;font-size:14.9px">Medical</a></h5>
            <h5><a href="./filtration.html" style="text-decoration:none;font-size:14.9px">Filtration</a></h5>
            <h5><a href="./packaging.html" style="text-decoration:none;font-size:14.9px">Packaging</a></h5>
            <h5><a href="./agriculture.html" style="text-decoration:none;font-size:14.9px">Agriculture</a></h5>
            <h5><a href="./health.html" style="text-decoration:none;font-size:14.9px">Health &amp; Hygiene</a></h5>
            <h5><a href="./cosmetic.html" style="text-decoration:none;font-size:14.9px">Cosmetic Applicators</a></h5>
            <h5><a href="./mattress.html" style="text-decoration:none;font-size:14.9px">Mattress Industry</a></h5>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" style="padding-bottom:10px">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Products</h6>
            <hr style="text-align:left;margin-left:0;width:60px;margin-top:0;border-color:#00BFFF">
            <p><a href="./spunbond.html" style="text-decoration:none">PP Spun Bond Non-Woven Fabric</a></p>
            <p><a href="./laminated.html" style="text-decoration:none">Laminated Non-Woven Fabric</a></p>
            <p><a href="./melt_blown.html" style="text-decoration:none">Melt Blown Non-Woven Fabric</a></p>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="container-fluid footer" style="background-color: #181818; font-size:12px; padding:10px; text-align:center">
      	© 2017 CK Fabrics Pvt Ltd | All logos and trademarks in this site are property of their respective owner.
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->
  </body>
</html>


<!-- Viewport sets the width of the template -->
<!-- {% static 'website/' %} -->
