{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="Viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Affordable and professional web design">
    <meta name="keywords" content="web design, affordable web design, professional web design">
    <meta name="author" content="Supraja">
    <title>CK Fabrics -  Non Woven Fabric Manufacturers in Hyderabad, India.</title>
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/style.css' %}">
    <link rel="icon"  href="{% static 'website/img/icon_logo.png' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" style="min-height:80px;background-image: radial-gradient(circle, #4e86cc 4%, #a1e0e7 86%);border-bottom: #0e635e 3px solid">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="border-color:white">
            <span class="icon-bar" style="background-color:grey"></span>
            <span class="icon-bar" style="background-color:grey"></span>
            <span class="icon-bar" style="background-color:grey"></span>
          </button>
          <img  class="navbar-brand"  src="{% static 'website/img/logo.png' %}" style="height:77px;width:220px;padding:0">
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right" style="background-color: #3a7ba1;border-radius:5px;font-size: 13px;margin-top:40px">
            <li><a href="index.html" style="color:white;font-weight:bold">Home</a></li>
            <li><a href="about.html" style="color:white;font-weight:bold">About Us</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle " data-toggle="dropdown" href="#" style="color:white;font-weight:bold">Products<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="./spunbond.html" style="">PP Spun Bond Non-Woven Fabric</a></li>
                <li style="margin: 0px 0px 0px 0px; background-color: #e5e5e5; height: 1px; overflow: hidden"></li>
                <li><a href="./laminated.html" style="">Laminated Non-Woven Fabric</a></li>
                <li style="margin: 0px 0px 0px 0px; background-color: #e5e5e5; height: 1px; overflow: hidden"></li>
                <li><a href="./melt_blown.html" style="">Melt Blown Non-Woven Fabric</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:white;font-weight:bold">Applications<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="./medical.html" style="">Medical</a></li>
                <li style="margin: 0px 0px 0px 0px; background-color: #e5e5e5; height: 1px; overflow: hidden"></li>
                <li><a href="./filtration.html" style="">Filtration</a></li>
                <li style="margin: 0px 0px 0px 0px; background-color: #e5e5e5; height: 1px; overflow: hidden"></li>
                <li><a href="./packaging.html" style="">Packaging</a></li>
                <li style="margin: 0px 0px 0px 0px; background-color: #e5e5e5; height: 1px; overflow: hidden"></li>
                <li><a href="./agriculture.html" style="">Agriculture</a></li>
                <li style="margin: 0px 0px 0px 0px; background-color: #e5e5e5; height: 1px; overflow: hidden"></li>
                <li><a href="./health.html#" style="">Health &amp; Hygiene</a></li>
                <li style="margin: 0px 0px 0px 0px; background-color: #e5e5e5; height: 1px; overflow: hidden"></li>
                <li><a href="./cosmetic.html" style="">Cosmetic Applicators</a></li>
                <li style="margin: 0px 0px 0px 0px; background-color: #e5e5e5; height: 1px; overflow: hidden"></li>
                <li><a href="./mattress.html" style="">Mattress Industry</a></li>

              </ul>
            </li>
            <li><a href="contact.html" style="color:white;font-weight:bold">Contact Us</a></li>
          </ul>

        </div>
      </div>
    </nav>


    <section id="showcase1">
      <div class="container3">
        <h2 style="text-align:center;background: rgba(7, 105, 122, 0.4);color: #ffffff;text-shadow: 2px 2px 4px #000000;font-family: "Comic Sans MS", sans-serif;">PP Spun Bond Non-Woven Fabric </h2>
      </div>
    </section>
    <br>
    <section id="showcase2">
      <div class="container2" id="spunbond_section">
        <div class="highlight" class="row">
          <div  class="column left">
            <div class="container2">
              <div style="background-color:#B8B8B8;border-radius:8px;text-align:center;margin:8px">
                <a href="./spunbond.html">PP Spun Bond Non-Woven Fabric </a>
              </div>
              <div style="background-color:#B8B8B8;border-radius:8px;text-align:center;margin:8px">
                <a href="./laminated.html">Laminated Non-Woven Fabric</a>
              </div>
              <div style="background-color:#B8B8B8;border-radius:8px;text-align:center;margin:8px">
                <a href="./melt_blown.html">Melt Blown Non-Woven Fabric</a>
              </div>
            </div>
          </div>

          <div class="column right"  style="background-color:#4682B4;border-radius:1.5%">
            <h3 style="color:#FFFF66;border-bottom: white 3px solid;text-align:center;border-radius:10%;font-weight:bold">PP Spun Bond Non-Woven Fabric </h3>
            <div class="container2">
            <h4>FEATURES:</h4>
            <img id="non-woven7" src="{% static 'website/img/non-woven7.png' %}">
            <ul style="color:white;font-size:16px">
              <li>Fire Retardant and Antistatic</li>
              <li>Water Oil Repellent and Anti-Slip</li>
              <li>Light Weight and Soft</li>
              <li>Permeable and Absorbent</li>
              <li>Sophisticated and Non-Allergic</li>
              <li>Air and Water Permeable </li>
              <li>Protecting from insects, Birds</li>
              <li>Water &amp gas permeability</li>
              <li>Cost Effective, Durable and stylish</li>
              <li>More spacious and Washable</li>
              <li>Recyclable and Reusable</li>
            </ul>

            <br>
            <h4>APPLICATIONS:</h4>
            <img id="non-woven11" src="{% static 'website/img/non-woven11.png' %}">
            <ul style="color:white;font-size:16px">
              <li>Hospitality (Hospital, Super Markets, Hotel)</li>
              <li>Travel (Airlines, Trains, Bus, Ships)</li>
              <li>Health & Hygiene </li>
              <li>Shopping Bags</li>
              <li>Filtration</li>
              <li>Packaging</li>
              <li>Mattress & Furniture</li>
              <li>Agriculture </li>
              <li>Protective Cloth</li>
              <li>Construction </li>
              <li>Shoes & Garments</li>
              <li>Bed & Furniture</li>
              <li>Medical Disposable(Gowns, drapes &amp sterilization wraps)</li>
            </ul>
            <br>
            <p>
              <img id="non-woven4" src="{% static 'website/' %}img/non-woven4.png">
            </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark">

      <!-- Footer Links -->
      <div class="container2  text-md-left mt-5 ">

        <!-- Grid row -->
        <div class="row mt-3">

          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4" style="padding-bottom:10px">

            <!-- Content -->
            <h6 class="text-uppercase font-weight-bold">Company name</h6>
            <hr style="text-align:left;margin-left:0;width:60px;margin-top:0;border-color:#00BFFF">
            <p>
              <i class="fa fa-map-marker mr-3"></i> Survey no. 275 , rangapur village, kothur mandal</p>
              <h5>Ranga Reddy Dist,Telangana – 509228</h5>
            <p>
              <i class="fa fa-envelope mr-3"></i> info@ckfabrics.in</p>
            <p>
              <i class="fa fa-phone mr-3"></i> +91 88970 98822</p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4" style="padding-bottom:10px">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Quick Links</h6>
            <hr style="text-align:left;margin-left:0;width:60px;margin-top:0;border-color:#00BFFF">
            <p><a href="index.html" style="text-decoration:none">Home</a></p>
            <p><a href="about.html" style="text-decoration:none">About Us</a></p>
            <p><a href="./spunbond.html" style="text-decoration:none">Products</a></p>
            <p><a href="Applications.html" style="text-decoration:none">Applications</a></p>
            <p><a href="contact.html" style="text-decoration:none">Contact Us</a></p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4" style="padding-bottom:10px">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Applications</h6>
            <hr style="text-align:left;margin-left:0;width:60px;margin-top:0;border-color:#00BFFF">
            <h5><a href="./medical.html" style="text-decoration:none;font-size:14.9px">Medical</a></h5>
            <h5><a href="./filtration.html" style="text-decoration:none;font-size:14.9px">Filtration</a></h5>
            <h5><a href="./packaging.html" style="text-decoration:none;font-size:14.9px">Packaging</a></h5>
            <h5><a href="./agriculture.html" style="text-decoration:none;font-size:14.9px">Agriculture</a></h5>
            <h5><a href="./health.html" style="text-decoration:none;font-size:14.9px">Health &amp; Hygiene</a></h5>
            <h5><a href="./cosmetic.html" style="text-decoration:none;font-size:14.9px">Cosmetic Applicators</a></h5>
            <h5><a href="./mattress.html" style="text-decoration:none;font-size:14.9px">Mattress Industry</a></h5>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" style="padding-bottom:10px">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Products</h6>
            <hr style="text-align:left;margin-left:0;width:60px;margin-top:0;border-color:#00BFFF">
            <p><a href="./spunbond.html" style="text-decoration:none">PP Spun Bond Non-Woven Fabric</a></p>
            <p><a href="./laminated.html" style="text-decoration:none">Laminated Non-Woven Fabric</a></p>
            <p><a href="./melt_blown.html" style="text-decoration:none">Melt Blown Non-Woven Fabric</a></p>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="container-fluid footer" style="background-color: #181818; font-size:12px; padding:10px; text-align:center">
      	© 2017 CK Fabrics Pvt Ltd | All logos and trademarks in this site are property of their respective owner.
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->
  </body>
</html>


<!-- Viewport sets the width of the template -->
